In [3]:
print('analytics')

analytics

# Data Types
- Numbers (Integers or Float)
- Text (Strings)
- Booleans (True or False)
- List
- Tuples
- Dictionaries
- Sets

In [4]:
# Integer- Int, or integer, is a whole number, positive or negative, without decimal example 
5000

5000

In [5]:
type(5000)

int

In [6]:
5000*4

20000

In [7]:
250+250

500

In [ ]:
# Float: The difference between float and integer is the decimal points, Float : "1.0", Integer: "1"
# It is accurate upto 15 decimal points

In [1]:
10.5

10.5

In [2]:
#Basic Arithmetic
2+2

4

In [3]:
10/3

3.3333333333333335

In [ ]:
#Basic Arithmetic
2 + 2

In [4]:
150*0.4

60.0

In [5]:
#Floor division: shows number of times you can get the lower figure from the large figure, removing the remainder (//) eg
100//3

33

In [6]:
#Modulo ; shows the remainder after the number of times the lower figure can divide the large figure(%)
100%3

1

In [8]:
2500//40

62

In [9]:
2500%40

20

In [10]:
#Raised to power (**)
2**4

16

In [11]:
#BODMAS: Phython recognises and works with BODMAS Rule in Arithemetic
1+3/10*6

2.8

In [12]:
(1+3)/10*6

2.4000000000000004

In [13]:
(1+3)/(10*6)

0.06666666666666667

In [ ]:
#Variable Assesment

In [16]:
income=2000 #Note income is the variale, 2000 is the value, = is the assignment key

In [17]:
income

2000

In [18]:
income*2

4000

In [19]:
income/100

20.0

In [20]:
income**2

4000000

In [21]:
efe=income/100

In [22]:
efe

20.0

In [24]:
#Test Calculator
f_test= 10
s_test= 20
attendance= 5
exam=30
total_score= f_test+s_test+attendance+exam

In [25]:
total_score

65

In [27]:
#Test Calculator
f_test= float(input('what is your first test score?'))
s_test= float(input('what is your second test score?'))
attendance= float(input('what is your attendance score?'))
exam=float(input('what is your exam score?'))
total_score= f_test+s_test+attendance+exam
total_score

what is your first test score?15.5
what is your second test score?9
what is your attendance score?4
what is your exam score?45

73.5

In [28]:
#String (text)
"hello world"

'hello world'

In [30]:
f_name="eke"

In [31]:
f_name

'eke'

In [33]:
#Full name generation
first_name="funmilayo"
last_name="festus"
full_name= first_name+ " "+last_name

In [34]:
full_name

'funmilayo festus'

In [35]:
first_name=str(input("what is your first name?"))
last_name=str(input("what is your last name?"))
full_name= first_name+ " "+last_name
full_name

what is your first name?thomas
what is your last name?craig

'thomas craig'

In [36]:
#Indexing and the slicing(in indexing phthon counts from 0)
full_name

'thomas craig'

In [37]:
#indexing
full_name[5]

's'

In [38]:
full_name[6]

' '

In [40]:
#slicing (in slicing add a to the number of the poin you want slice, so it doesn't cutt off the last alphabet)e.g
#slicing :[start:stop:step]
full_name[0:6]

'thomas'

In [41]:
full_name[7:12]

'craig'

In [42]:
num="123456789"

In [43]:
num

'123456789'

In [44]:
num[4]

'5'

In [46]:
num[0:5]

'12345'

In [47]:
#Negative Indexing(this is negative count from the rear)
num[-1]

'9'

In [48]:
#Using steps in the slicing(::)
num[1::2]

'2468'

In [49]:
num[1::4]

'26'

In [ ]:
#Print formatting

#.format method
# Placeholder
#f-strings

In [50]:
# .format method
name="funmilayo"
age= 15
print("my name is {} and i am {} years old".format(name,age))

my name is funmilayo and i am 15 years old

In [51]:
# .format method
name=input("what is your name?")
age= int(input("How old are you?"))
print("my name is {} and i am {} years old".format(name,age))

what is your name?Tunde
How old are you?25
my name is Tunde and i am 25 years old

In [53]:
#Placeholder; uses %s in between statements, while % instead of .format
name=input("what is your name?")
age= int(input("How old are you?"))
print("My name is %s and I am %s years old"%(name,age))

what is your name?Tunde
How old are you?35
My name is Tunde and I am 35 years old

In [55]:
#f-strings; uses {variable} in between statements, in the print option , type f before the strings
name=input("what is your name?")
age= int(input("How old are you?"))
print(f"My name is {name} and I am {age} years old")

what is your name?Taye
How old are you?40
My name is Taye and I am 40 years old

In [1]:
#List
#An Ordered sequence of items is a List
#The list is the highly used data type in Python
#Contains Versatile data
names=["emeka","toye","Kemi","Tabitha"]

In [2]:
names

['emeka', 'toye', 'Kemi', 'Tabitha']

In [3]:
my_list=["Seye","Jide",1,2,3,0.5,False]

In [4]:
my_list

['Seye', 'Jide', 1, 2, 3, 0.5, False]

In [5]:
#Indexing and slicing
names[0]

'emeka'

In [6]:
names[0:2]

['emeka', 'toye']

In [7]:
names[1::3]

['toye']

In [8]:
names[0::2]

['emeka', 'Kemi']

In [10]:
names.append("Titilope")

In [11]:
names

['emeka', 'toye', 'Kemi', 'Tabitha', 'Titilope']

In [17]:
names.append("Grace")

In [18]:
names

['emeka', 'toye', 'Kemi', 'Tabitha', 'Titilope', 'Grace']

In [19]:
names.pop() #to remove the last name

'Grace'

In [20]:
names

['emeka', 'toye', 'Kemi', 'Tabitha', 'Titilope']

In [21]:
names.reverse()

In [22]:
names

['Titilope', 'Tabitha', 'Kemi', 'toye', 'emeka']

In [ ]:
#Dictionaries
# Dictionary is a type of Python data type in which collections are Unordered, and Value are in pairs  called key-Value pairs

In [26]:
my_dict = {"key1": "value1", "key2":"value2"}

In [27]:
my_dict.keys()

dict_keys(['key1', 'key2'])

In [28]:
my_dict.values()

dict_values(['value1', 'value2'])

In [29]:
my_dict["key1"]

'value1'

In [2]:
bio_data={"name": "Funmilayo", "Age":15,"Address": "Gudu", "Phone number":8032768944}

In [3]:
bio_data

{'name': 'Funmilayo', 'Age': 15, 'Address': 'Gudu', 'Phone number': 8032768944}

In [4]:
bio_data

{'name': 'Funmilayo', 'Age': 15, 'Address': 'Gudu', 'Phone number': 8032768944}

In [5]:
bio_data["name"]

'Funmilayo'

In [6]:
bio_data["Age"]

15

In [7]:
bio_data["Address"]

'Gudu'

In [8]:
bio_data["colour"]="green" #To include another keyvalue to the Dictionary

In [9]:
bio_data

{'name': 'Funmilayo',
 'Age': 15,
 'Address': 'Gudu',
 'Phone number': 8032768944,
 'colour': 'green'}

In [14]:
bio_data.pop[5]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [11]:
bio_data

{'name': 'Funmilayo',
 'Age': 15,
 'Address': 'Gudu',
 'Phone number': 8032768944,
 'colour': 'green'}

In [20]:
bio_data["siblings"]=["Keji","Tolu","Jacob"]

In [21]:
bio_data

{'name': 'Funmilayo',
 'Age': 15,
 'Address': 'Gudu',
 'Phone number': 8032768944,
 'colour': 'green',
 'siblings': ['Keji', 'Tolu', 'Jacob']}

In [22]:
bio_data["siblings"]

['Keji', 'Tolu', 'Jacob']

In [23]:
bio_data["siblings"][2] #To extract or Index a value from the complete Key e.g Jacob

'Jacob'

In [32]:
#List Modification example
AGE=[1,3,5,6,78,95]

In [33]:
AGE

[1, 3, 5, 6, 78, 95]

In [34]:
AGE[2] =30

In [35]:
AGE

[1, 3, 30, 6, 78, 95]

In [ ]:
# Tuples 
#A tuple is a sequence of items but are in order, and it is not possible to
# modify the Tuplee unlike the list that can be modified #In list [] is used ,While in Tuples this () is used for values.

In [36]:
Tup=(1,3,5,6,78,95)

In [37]:
Tup

(1, 3, 5, 6, 78, 95)

In [38]:
Tup[0:3]

(1, 3, 5)

In [39]:
Tup[-2]

78

In [40]:
len(Tup)

6

In [ ]:
# Set
# Collection of a Unique item that are not in order is called Set

In [41]:
num={2,4,4,4,4,5,5,5,5,55,55,1,1,1,1,1,1,7,8,8,8,6,6,66,}

In [42]:
num

{1, 2, 4, 5, 6, 7, 8, 55, 66}

In [46]:
type(num)

set

In [47]:
names={"titi","Grace","titi","Peace","Peace","Binta"}

In [48]:
names

{'Binta', 'Grace', 'Peace', 'titi'}

In [49]:
names.add("Tabitha")

In [50]:
names

{'Binta', 'Grace', 'Peace', 'Tabitha', 'titi'}

In [51]:
names.append("Comfort")

AttributeError: 'set' object has no attribute 'append'